body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.face{
    background: rgb(252, 182, 101);
    width: 20vw;
    height: 60vh;
    border-radius: 70%;
}

.eyebrows{
    position: absolute;
    top: 21%;
    left: 45%;
    display: flex;
}

.left-eyebrow{
    background: black;
    width: 40px;
    height: 15px;
    border-radius: 30px;
}

.right-eyebrow{
    margin-left: 30px;
    background: black;
    width: 40px;
    height: 15px;
    border-radius: 30px;
}

.eyes{
    position: absolute;
    top:25%;
    left: 45%;
    display: flex;
}

.left-eye{
    background: white;
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.right-eye{
    margin-left:30px;
    background: white;
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.iris{
    background: brown;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
}

.pupil{
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: auto;
}

.white-shade{
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin:auto;
}
