body{
    background-color:#333;
    top: 30%;
    left: 37%;
    position: absolute;
}

.outer-red{
    background-color: red;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
}

.outer-steel{
    background-color: rgb(218, 218, 218);
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 50%;
    top: 25px;
    left: 25px;
}

.inner-red{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    top: 25px;
    left: 25px;
}

.center-blue{
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    top: 25px;
    left: 25px;
}

.arrow{
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 50px solid #EDE8E8;
    border-bottom: 60px solid rgba(0,0,0,0.0);
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.top{
    top:50px;
    left: 5px;
}

.left{
    transform: rotate(72deg);
    top: 30px;
    left: -25px;
}

.right{
    transform: rotate(-72deg);
    top: 30px;
    left: 35px;
}