body{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgb(98, 179, 255);
}

.face{
    background-color: #ffdc15;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.eyes{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.left-eye{
    background-color: rgb(204, 94, 4);
    height: 70px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
}

.right-eye{
    background-color: rgb(204, 94, 4);
    height: 70px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
}

.mouth{
    background-color: rgb(204, 94, 4);
    border-radius: 10px 10px 100px 100px;
    height: 70px;
    width: 200px;
    position: absolute;
    top: 180px;
    left: 50px;
}