body{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgb(98, 179, 255);
}

.face{
    background-color: #ffdc15;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.mouth{
    background-color: rgb(204, 94, 4);
    border-radius: 10px 10px 100px 100px;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 50px;
}