body{
    background-color: coral;
    position: absolute;
    top: 30%;
    left: 40%;
}

.blue-square{
    background-color: cornflowerblue;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 100px;
    transform: rotate(45deg);
}

.white-circle{
    background-color: cornsilk;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
}